@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Major+Mono+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
@layer utilities {
  .center-absolute {
    @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
  .background-image {
    width: 100%;
    height: auto; /* Adjust according to your layout needs */
    background-image: url('/background.jpg');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
    filter: grayscale(100%); /* Apply the grayscale filter */
  }
  .background-image-pure {
    width: 100%;
    height: auto; /* Adjust according to your layout needs */
    background-image: url('/background.jpg');
    background-size: cover; /* Ensure the image covers the entire element */
    background-position: center; /* Center the image */
  }
}
.pretty-background {
  display: grid;
  overflow: visible;
  opacity: 0.3;
  z-index: 1;
  grid-template-columns: repeat(10, minmax(40px, 1fr));
  justify-content: center;
  grid-auto-rows: min-content;
  grid-template-rows: repeat(9, min-content);
  padding: 0px;
  gap: 10;
  border-radius: 0px 0px 0px 0px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'Paralines';
  src: url('/fonts/Paralines-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #222
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.selected {
  &::after {
    position: relative;
    border-radius: 2px;
    padding: 1px;
    width: 60px; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    z-index: 10000;
    color: #fff;
    background: #000;
    content: '✓';
  }
}

@layer components {
  .bottom-bar {
    @apply fixed  bottom-0 w-full h-[5vh] bg-white m-0 my-0 p-2 gap-2 grid grid-cols-3 justify-around items-center;
  }
  .button {
    @apply text-dark h-full py-2 px-4 bg-skintone rounded-lg text-lg shadow-sm;
  }
}

.image-container .checkmark {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  background: url('/checkmark.png') no-repeat center center;
  background-size: contain;
  display: none;
}

.image-container.selected .checkmark {
  display: block;
}
.webcam {
  transform: translateX(-40vw);
}
.picture-taken{
  opacity: 1;
  width: auto;
  height:  auto;
  margin-bottom: 0;
  z-index: 1000;
}
.picture-taken-w{
  padding: 0;
  top:  29vh;
  width: 40vw;
  transform: translateX(-100%);
  z-index: 1000;
}